@define-color kngw-bg-color #000000;
@define-color kngw-fg-color #dcd7ba;
@define-color kngw-green #76946a;
@define-color kngw-red #c34043;
@define-color kngw-blue #7e9cd8;
@define-color kngw-yellow #c0a36e;
@define-color kngw-purple #957fb8;
@define-color kngw-grey #727169;

window#osd {
  border-radius: 0px;
  border: 2px solid @kngw-green;
  background: @kngw-bg-color;
}
window#osd #container {
  margin: 16px;
}
window#osd image,
window#osd label {
  color: @kngw-fg-color;
}
window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}
window#osd progressbar,
window#osd segmentedprogress {
  min-height: 6px;
  border-radius: 0px;
  background: transparent;
  border: none;
}
window#osd trough,
window#osd segment {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: @kngw-fg-color;
}
window#osd progress,
window#osd segment.active {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: @kngw-green;
}
window#osd segment {
  margin-left: 8px;
}
window#osd segment:first-child {
  margin-left: 0;
}
