@define-color main-bg-color #120024;
@define-color main-fg-color #7554a3;
@define-color highlight-color #99de1e;

* {
    margin: 2px 5px;
    font-family: "JetBrains Mono Medium";
    font-size: 12px;
}

#waybar {
    background-color: @main-bg-color;
    color: @main-fg-color;
}

#mode,
#tray,
#disk,
#clock,
#network,
#language,
#sway-mode,
#backlight,
#bluetooth,
#workspaces,
#custom-mail,
#temperature,
#battery.bat0,
#battery.bat1,
#custom-pacman,
#custom-weather,
#sway-workspaces,
#pulseaudio.volume,
#custom-notification,
#idle_inhibitor.deactivated,
#custom-scratchpad-indicator,
#pulseaudio.mic.source-muted {
    border: 0.5 solid @main-fg-color;
    background: @main-bg-color;
    color: @main-fg-color;
    font-weight: bold;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 0 2px;
}

#custom-scratchpad-indicator {
    color: @highlight-color;
}

#custom-media,
#custom-power,
#idle_inhibitor.activated {
    border: 0.5 solid @main-fg-color;
    background: @main-fg-color;
    color: @main-bg-color;
    font-weight: bold;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 0 2px;
}

#mode,
#bluetooth.on,
#memory.warning,
#memory.critical,
#network.disconnected,
#temperature.critical,
#pulseaudio.mic,
#pulseaudio.volume.muted,
#battery.bat0.charging,
#battery.bat0.plugged,
#battery.bat1.charging,
#battery.bat1.plugged,
#custom-notification.dnd-none,
#battery.bat0.warning.discharging,
#battery.bat0.critical.discharging,
#battery.bat1.warning.discharging,
#battery.bat1.critical.discharging,
#custom-notification.dnd-notification {
    border: 0.5 solid @highlight-color;
    background: @highlight-color;
    color: @main-bg-color;
    font-weight: bold;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 0 2px;
}

#battery.bat0.critical.discharging,
#battery.bat1.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes blink-critical {
    from {
        background-color: @main-fg-color;
    }

    to {
        background-color: @main-bg-color;
    }
}