@define-color main-bg-color #120024;
@define-color main-fg-color #7C72A0;
@define-color highlight-color #544587;
@define-color critical-color #72A07C;
@define-color warning-bg-color #FFFFFF;

* {
    margin: 2px 5px;
    border: none;
    border-radius: 0;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: bold;
}

#waybar {
    background-color: @main-bg-color;
    color: @main-fg-color;
}

#mode,
#tray,
#disk,
#clock,
#network,
#language,
#sway-mode,
#backlight,
#bluetooth,
#workspaces,
#custom-mail,
#temperature,
#battery.bat0,
#battery.bat1,
#custom-pacman,
#custom-weather,
#sway-workspaces,
#pulseaudio.volume,
#custom-notification,
#idle_inhibitor.deactivated,
#custom-scratchpad-indicator,
#pulseaudio.mic.source-muted {
    border: 0.5 solid @main-fg-color;
    background: @main-bg-color;
    color: @main-fg-color;
    font-weight: bold;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 2px 2px;
}

#custom-scratchpad-indicator {
    color: @critical-color;
}

#custom-media,
#custom-power {
    background: @highlight-color;
    color: @main-bg-color;
    font-weight: bold;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 2px 2px;
}

#mode,
#bluetooth.on,
#memory.warning,
#memory.critical,
#network.disconnected,
#idle_inhibitor.activated,
#custom-notification.dnd-none,
#custom-notification.dnd-notification {
    border: 0.5 solid @highlight-color;
    background: @highlight-color;
    color: @main-bg-color;
    font-weight: bold;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 2px 2px;
}

#pulseaudio.mic,
#pulseaudio.volume.muted,
#battery.bat0.charging,
#battery.bat0.plugged,
#battery.bat1.charging,
#battery.bat1.plugged,
#battery.bat0.warning.discharging,
#battery.bat0.critical.discharging,
#battery.bat1.warning.discharging,
#battery.bat1.critical.discharging,
#temperature.critical {
    border: 0.5 solid @critical-color;
    background: @critical-color;
    color: @main-bg-color;
    font-weight: bold;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 2px 2px;
}

#battery.bat0.critical.discharging,
#battery.bat1.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes blink-critical {
    from {
        background-color: @warning-bg-color;
    }

    to {
        background-color: @highlight-color;
    }
}