@define-color bg-color #16161D;
@define-color fg-color #DCD7BA;

@define-color tn-green #76946A;
@define-color tn-red #C34043;
@define-color tn-blue #7E9CD8;
@define-color tn-yellow #C0A36E;
@define-color tn-purple #957FB8;

@define-color tn-dark-green #485e30;
@define-color tn-dark-red #8c4351;
@define-color tn-dark-blue #34548a;
@define-color tn-dark-yellow #8f5e15;
@define-color tn-dark-purple #5a4a78;

window {
  background: transparent;
  color: @fg-color;
  border-radius: 0px;
  font-family: "JetBrainsMono NFP";
  font-weight: bold;
  font-size: 12;
}

/* Outer bar container, takes all the window width/height */
#outer-box {
  border: 2px solid @tn-blue;
  border-radius: 0px;
  padding: 0px;
  margin-bottom: 705px;
  background: @bg-color;
}

/* Inner bar container, surrounds buttons */
#inner-box {
  background: @bg-color;
  border-radius: 0px;
}

button,
image {
  background: none;
  border: none;
  box-shadow: none;
}

button {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
  color: @fg-color;
}

button:hover {
  background: @tn-blue;
  color: @bg-color;
  border-radius: 0px;
}
