@define-color bg-color rgba(26, 27, 38, 1);
@define-color fg-color rgba(169, 177, 214, 1);
@define-color tn-green rgba(158, 206, 106, 1);
@define-color tn-red rgba(247, 118, 142, 1);
@define-color tn-blue rgba(122, 162, 247, 1);
@define-color tn-yellow rgba(224, 175, 104, 1);
@define-color tn-purple rgba(187, 154, 247, 1);
@define-color button-bg rgba(52, 59, 88, 1);

* {
	font-family: JetBrainsMono Nerd Font Propo;
    font-weight: bolder;
    font-size: 20px;
}

window {
	background-color: @bg-color;
}

button {
    color: @fg-color;
    background: @button-bg;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	margin: 5px;
    outline-style: none;
}

button:hover {
    color: @bg-color;
    background: @tn-blue;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	margin: 5px;
    outline-style: none;
}



#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
