@define-color main-bg-color #120024;
@define-color main-fg-color #753AB0;
@define-color highlight-color #75B03A;

* {
    margin: 2px 5px;
    font-family: "JetBrains Mono Medium", "Material Design Icons Desktop";
    font-size: 12px;
}

#waybar {
    background-color: @main-bg-color;
    color: @main-fg-color;
}

#mode,
#tray,
#disk,
#temperature,
#battery.bat0,
#battery.bat1,
#pulseaudio.volume,
#custom-weather.eu,
#custom-weather.tr,
#custom-notification,
#custom-scratchpad-indicator,
#pulseaudio.mic.source-muted {
    border: 0.5 solid @main-fg-color;
    background: @main-bg-color;
    color: @main-fg-color;
    font-weight: bold;
    border-radius: 5px;
    padding: 1px 5px;
    margin: 0 1px;
}

#clock,
#language,
#custom-media,
#custom-power-user {
    border: 0.5 solid @main-fg-color;
    background: @main-fg-color;
    color: @main-bg-color;
    font-weight: bold;
    border-radius: 5px;
    padding: 1px 5px;
    margin: 0 1px;
}

#mode,
#custom-mail,
#custom-pacman,
#network.disabled,
#network.disconnected,
#temperature.critical,
#pulseaudio.mic,
#pulseaudio.volume.muted,
#battery.bat0.charging,
#battery.bat0.plugged,
#battery.bat1.charging,
#battery.bat1.plugged,
#custom-scratchpad-indicator,
#custom-notification.dnd-none,
#battery.bat0.warning.discharging,
#battery.bat0.critical.discharging,
#battery.bat1.warning.discharging,
#battery.bat1.critical.discharging,
#custom-notification.dnd-notification {
    border: 0.5 solid @highlight-color;
    background: @highlight-color;
    color: @main-bg-color;
    font-weight: bold;
    border-radius: 5px;
    padding: 1px 5px;
    margin: 0 1px;
}

#battery.bat0.critical.discharging,
#battery.bat1.critical.discharging {
    animation: blink 1s infinite;
}

@keyframes blink {
    from {
        background-color: @main-bg-color;
    }

    to {
        background-color: @highlight-color;
    }
}