@define-color bg-color rgba(17, 17, 27, 0.5);
@define-color module-bg-color rgba(17, 17, 27, 1);
@define-color fg-color rgba(205, 214, 244, 1);
@define-color arch-color rgba(23, 147, 209, 1);
@define-color highlight-color rgba(64, 160, 43, 1);

* {
    font-family: JetBrainsMono Nerd Font Propo;
    font-weight: bold;
    font-size: 12px;
}

window#waybar {
    background: @bg-color;
    color: @fg-color;
}

tooltip {
    background: @module-bg-color;
    border: 2px solid @fg-color;
    border-radius: 5px;
}

#disk,
#tray,
#clock,
#battery,
#language,
#pulseaudio,
#workspaces,
#temperature,
#battery#bat0,
#battery#bat1,
#pulseaudio#mic,
#pulseaudio#volume,
#custom-battery,
#custom-cava,
#custom-media,
#custom-power,
#custom-weather,
#custom-updates,
#custom-notification {
    background: @module-bg-color;
    margin: 2px;
    padding: 2px 10px;
    border-radius: 5px;
}

#custom-notification {
    margin-right: 10px;
}

#custom-power {
    color: @arch-color;
    margin-left: 10px;
    font-size: larger;
}

#custom-cava {
    color: @highlight-color;
}

#battery.bat0.charging,
#battery.bat1.charging {
    background: @highlight-color;
    color: @module-bg-color;
}

#workspaces {
    padding: 0px 10px;
}

#workspaces button {
    margin: 0px;
    padding: 0px;
    color: @fg-color;
}

#workspace button:hover {
    background: transparent;
}

#workspaces button.active {
    color: @highlight-color;
    border-bottom: 1px solid @highlight-color;
    border-top: 1px solid @highlight-color;
    border-radius: 0px;
}